body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: rgb(241, 106, 9);
}

a{
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    color: black;
}